.Center {
  display: flex;
  flex-direction: column;
  flex: 2.5;
  padding: 0 4rem 0 4rem;
  margin: 2rem 3rem 0 3rem;
  max-width: 50%;
  overflow-x: scroll;
}
/* TOP: stories */
.Center__stories {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.Center__stories::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* CENTER: status */
.Center__status {
  margin-top: 2rem;
  background-color: white;
  border-radius: 10px;
  color: gray;
}
.status__topRow {
  display: flex;
  border-bottom: 2px solid gray;
  padding-bottom: 1rem;
  margin: 1rem;
}
.status__topRow > img {
  border-radius: 50%;
  margin-right: 1rem;
}
.topRow__input {
  display: flex;
  background-color: #f0f2f5;
  width: 100%;
  border-radius: 33px;
}
.topRow__input > input {
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: transparent;
  border-radius: 33px;
  font-size: 1rem;
}
.status__bottomRow {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}
.bottomRow__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
}
.bottomRow__icons > p {
  margin-left: 1rem;
}
.bottomRow__icons:hover {
  background-color: #f0f2f5;
  cursor: pointer;
}

/* BOTTOM: posts */
.Center__post {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .Center {
    max-width: none;
    margin: 0;
    padding: 0;
  }
  .status__bottomRow {
    margin-left: -13px;
  }
  .bottomRow__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .bottomRow__icons > .icons {
    margin-left: 10px;
  }
  .bottomRow__icons > p {
    font-size: 12px;
    margin-top: 10px;
  }
}
